<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body>

<div th:replace="~{nav.html::navbar}"></div>


    <div class="card"th:each="i: ${items}">
        <img src="https://placehold.co/300">
        <div>
            <a th:href="@{'/detail/'+${i.id}}">
                <h4 th:text="${i.title}">바지</h4>
            </a>
        <p th:text="${i.price+'원'}">7억</p>
            <a href="@{'/edit/'+${i.id}}">✏️</a>
        <span th:onclick="fetch('/item?id=[[${i.id}]]',{method: 'DELETE'})
 .then(r=>r.text())
 .then(()=>{
 location.reload();
 })



">🗑️</span>
    </div>
    </div>

<script>
    fetch('/url')
</script>

</body>
</html>